In [0]:
import pandas as pd
data=[2,3,4,5,6,7]
result=pd.Series(data)
print(result)

0    2
1    3
2    4
3    5
4    6
5    7
dtype: int64

In [0]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(6,8))
df['new']=df[2]+df[6]
df.drop(3,axis=0,inplace=True)

print(df['new'])

0    1.252799
1   -1.627951
2    0.165954
4   -0.864538
5   -0.980500
Name: new, dtype: float64

In [0]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(6,8))
#only 1 and 6 col print
print(df.loc[1:3,(1,6)])
#print(df.iloc[1:3])

          1         6
1 -0.445392  1.102261
2 -1.790153  0.250284
3  1.091096  0.262394

In [0]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(5,8))

n='0 1 2 3 4'.split(" ")
df['new']=n
df.set_index('new')
df

          0         1         2         3  ...         5         6         7  new
0 -1.971497 -1.327054  0.128936  0.598269  ...  1.357458  1.464895  0.768637    0
1  0.439375  0.756954 -0.650578 -0.742958  ...  0.720115  0.243269  0.855132    1
2  1.301768  0.078506  1.390687 -0.252585  ... -0.066162  0.852142  0.544087    2
3  1.122932 -0.285669 -0.619893 -0.455162  ... -1.248120 -0.360235  1.044089    3
4 -0.272653  0.111329  0.185539  0.595039  ... -0.126322  0.587246  0.177605    4

[5 rows x 9 columns]